<h1 style="text-align:center"> Thanks for donating! </h1>

<% if @purchase.product.name == "Teaching of Buddha" %>
   <div class="fb-share-button" data-href="http://www.karmagrove.com/buddha" data-type="button_count"></div>
<h3>
You just gave $2.00 to <%= @charity.legal_name %> for purchasing the teaching of buddha<%if @price%> for $<%= @price %><%end%>.
<%= link_to " Connect your facebook", "/auth/facebook/login?donation_id=#{params[:purchase_id]}", id: "sign_in" %>
and share what you have done with your friends and family as well as review your past donations.
</h3>


<p>


Thank you for purchasing:
The teaching of buddha

<a href="https://s3.amazonaws.com/karmagrove/BUDDHA.PDF"> Buddha pdf </a> <br />

The following are the audio files in zip format.   <br />

<a href="https://s3.amazonaws.com/karmagrove/Archive.zip"> Buddha part 1   </a> <br />
<a href="https://s3.amazonaws.com/karmagrove/Archive2.zip"> Buddha part 2 </a> <br />
<a href="https://s3.amazonaws.com/karmagrove/Archive3.zip"> Buddha part 3 </a> <br />

<% if @purchase.buyer %>
You have also been sent an email to <%= @purchase.buyer.email %>

<% else %>

This purchase has no identifiable buyer.  Why?  

<% end %>

Would you like to connect facebook and gain access to your transaction history, the marketplace, and easier transactions? <br /> We won't harass you or post anything to your wall EVER.
</p>

<% else %>
   <div class="fb-share-button" data-href="http://www.karmagrove.com" data-type="button_count"></div>
<h3>

<% if @donation_amount.to_i>0 %>
   <%if @price%> 
     <% if @purchase.paid == true%>
        You choose to give $<%=@donation_amount%> to <%= @charity.legal_name %>. 
        You paid  $<%= @price %>
     <% else %>
        Will you give $<%=@donation_amount%> to <%= @charity.legal_name %>? 
        This is the amount you will donate if you pay $<%= @price %> by filling out the credit card form below.
     <%end%>
   <%end%>
 <% if @purchase.cost and @purchase.profit_donation_percent.to_i > 0 %>
You have the right to give <%=@purchase.profit_donation_percent %>% of any amount paid over $<%= @purchase.cost %>.
<% end %>
 You <a href="/purchases/<%=@purchase.id%>/donations/new">may update who receives your donation</a> until we actually pay the charity on the first of the month.  View your profile and see past donations by signing in with facebook. <!-- <a href="/how-it-works"> How our donations work. </a> -->

<% elsif %>

<% else %> 
 You just gave one equally weighted vote to <%= @charity.legal_name %><%if @price%> for your gift of $<%= @price %><%end%> for <%= @product.name%>.   

 <% end %> 
<% if @purchase.cost and @purchase.profit_donation_percent.to_i > 0 and @purchase.paid == false %>
  Anything you choose to pay over $<%= @purchase.cost %>, we will donate <%=@purchase.profit_donation_percent%>% where you choose.  Please fill out the credit card form below. 
<% elsif @purchase.paid != true %>

<!--  The exact amount of the donation will be updated at the end of the month when costs are known and the total money collected for your purchase or event attended is certain.  
 -->
 <% else %>

<%end%> 
</h3>




<!-- <h3>
  Would you like to update the amount?
  <input name="amount" type="text"> </input>
</h3> -->

<% end %>

<% if @purchase.paid != true  %>
  <h2> Didn't pay? </h2>
  
  <%= render :partial => "purchases/balanced_payment" %>
  
<% end %>


<div class="row">
<div class="col-md-8">
     <%= render "about/email_subscription" %>
</div>
<div class="col-md-4">
<h3>
  Why not log in with facebook and watch your karma grow?
  <div id="user_nav">
</h3>

<% if current_user %>
  Signed in as <strong><%= current_user.name %></strong>!
<% else %>
  <%= link_to "Sign in with Facebook", "/auth/facebook/login?donation_id=#{params[:purchase_id]}", id: "sign_in" %>
<% end %>

</div>

</div>