<% javascript 'luminosa.js' %>

<h1> Luminosa  </h1>
<h2> Sacred arts dance and music festival </h2>
<h2> Extra-Early Bird Ticket:  $188
Grab your tickets now, PRICES GO UP  March 1st!
</h2>

<h3> 1 % of your purchase price ($1.88 for early-bird) goes to a charity of your choice </h3>
<%= form_for @purchase, :url => "/luminosa" do |f| %>
  <% if @purchase.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>
      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @product and @product.image_url %>

     <!-- <%= image_tag(@product.image_url,{:alt => @product.name}) %>  -->

  <% end %>
  <h4> You are purchasing a ticket to Luminosa Festival </h4>
  <h4> We will deliver to your email below. </h4>
  <h4> After payment you may choose a charity. </h4>

  <%= f.hidden_field :buyer_id %>
  <%= f.hidden_field :id %>

  <%= fields_for :product do |product| %>
    <%= product.hidden_field :id, :value => @product.id %>
  <% end %>

  <% if current_user %>
  <%= fields_for :user do |buyer| %>
    <%= buyer.hidden_field :email, :value => current_user.email %>
  <% end %>
  <%end %>
  <div class="field">
      <%= label_tag :display_price, "Amount charged to your card " %>
      <%= text_field_tag :display_price, "188.00", name: "price", :disabled => "true" %>
  </div>
  <%= f.hidden_field :price, :value => "188.00", :id => "price" %>

  You may purchase one ticket at a time for now.  If you want two, just click back and buy again :) 
  You'll get an email for each ticket.   
  <div class="field">
      <%= label_tag :number_of_tickets, "number of tickets" %>
      <%= select_tag :number_of_tickets, options_for_select([1,2,3,4,5,6,7,8,9,10],1), name: "number of tickets" %>
  </div>
   <div class="field">
      <%= label_tag :cc_name, "Name on Card " %>
      <%= text_field_tag :cc_name, nil, name: "name" %>
  </div>
  <div class="field">
      <%= label_tag :card_number, "Credit Card Number " %>
      <%= text_field_tag :card_number, nil, name: nil %>
  </div>
  <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
  </div>
  <div class="field">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
  </div>
  <div class="field">
      <%= label_tag :postal_code, "Your Card's Postal Code" %>
      <%= text_field_tag :postal_code, nil, name: nil %>
  </div>

  <% unless current_user %>
    <%= fields_for :user do |buyer| %>
    <%= label_tag :email, "Your email " %>
    <%= text_field_tag :email, nil, name: "email" %>
    <% end %>
  <% end %>

  <div class="field">
    <%= label_tag :coupon_code, "coupon code " %>
    <%= text_field_tag :coupon_code, nil, name: "coupon code" %>
  </div>    
    
  <div class="actions"><%= f.submit "Purchase" , :id => "purchaseButton" %></div>
  <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.karmagrove.com' target='_blank' alt='Expedited SSL Scanner'>  <img src='https://www.expeditedssl.com/ssl-secure-badge.png'>
  </a>

  <% if @event_charities %>
  <div class="row">
    <div class="col-span-12">
    <h1> After purchase you choose where 1% of the price goes from the options below. </h1>
    </div>
  </div>
  <div class="row">
    <% @event_charities.each do |event_charity|  %>
    <div class="col-span-2">
     <h2> <%= event_charity.charity.legal_name %> </h2>
    </div>
    <div class="col-span-2">
     <h3> <%= event_charity.charity.deductibility_status_description %> </h3>
    </div>
    
    <% end %>
  </div>
  
  <% end %>
<% end %>
