<h1> ticket users </h1>


<% @ticket_users.each do |ticket| %>
  <div class="row">
    <div class="col-sm-3">
	  <%= ticket[:paid_description] %> 
	  <%= ticket[:updated_at].to_s %> 
	</div>
	<div class="col-sm-3">
	  <%= ticket[:name]%> 
	</div>
	<div class="col-sm-3">
	  <%= ticket[:email] %> 
	</div>
	<div class="col-sm-3">
	  <% @ticket_total += ticket[:amount].to_f/100 %> 
	  $<%= ticket[:amount].to_f/100 %> 
	</div>
	<div class="col-sm-3">
	  <%= ticket[:id] %> 
	</div>
  </div>
<% end %>
<div class="row">
total: <%= @ticket_total %>
</div>