<% javascript 'events.js' %>

<p id="notice"><%= notice %></p>
<% if @event.published or @show_unpublished_event%>
  <% if  @event.published == true %>
  <p>
    <b>The Event is published</b>
    <b> <a href="<%= url_for(edit_event_path) %>"> Edit the event</a> </b>
  </p>
  
  <% end %>


  <div class="row">
    <div class="col-span-2">
    <p>
      <b>Name:</b>
      <%= @event.name %>
    </p>
    <% if @event.revenue_donation_percent %>
      <%= @event.revenue_donation_percent %>% of this amount will be donated.  
    <% end %>
    </div>
    
    <div class="description col-span-10">
    <p>
      <b>Description:</b>
      <%= @event.description %>
    </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-span-2"><p>
      <b>Price:</b>
      <%= @event.price %>
    </p>
    </div>
    <div class="col-span-10">
    <% if @event.image_url %>
    
    <%= image_tag(@event.image_url) %>
    
    <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-span-2">
    <p>
      <b>About the event creator</b>
      <%= @event.seller %>
    </p>
    </div>
  
    <div class="col-span-8">
    <b> Location of event </b>
    <p>
      <b>Address:</b>
      <%= @event.address %>
    </p>
    
    <p>
      <b>City:</b>
      <%= @event.city %>
    </p>
    
    <p>
      <b>State:</b>
      <%= @event.state %>
    </p>
    
    <p>
      <b>Zip code:</b>
      <%= @event.zip_code %>
    </p>
    </div>
  
    <div class="col-span-2">
    <b> Timing of event </b>
    <p>
      <b>Start time:</b>
      <%= @event.start_time %>
    </p>
    
    <p>
      <b>End time:</b>
      <%= @event.end_time %>
    </p>
    </div>
  
  </div>

  <% if @event_charities %>
  <div class="row">
    <div class="col-span-12">
    You have the right to choose where <%= @event.revenue_donation_percent %>% of your ticket purchase price goes from the options below.
    </div>
  </div>
  <div class="row">

    <% @event_charities.each do |event_charity|  %>
     <div class="row">
    <div class="col-span-2">
      <h4> <%= event_charity.charity.legal_name %></h4>
    </div>
    <div class="col-span-2">
     <b> <%= event_charity.charity.deductibility_status_description %></b>
      </div>
      
    </div>
    <hr> 
    <% end %>
  </div>
  
  <% end %>

  <% if @event_tickets %>
  <%= render "event_tickets/show" %>
  <% end %>

  <% if @purchase %> 
  <%= render "balanced_purchase" %>
  <% end %> 
<% else %>

<p>
There is an event here but you cannot see it without the proper url.

Perhaps you may wish to consider publishing the event or contacting the event creator.
<FORM METHOD="LINK" ACTION="/events/new">
<button type="submit" class="btn">
create event
</button>
</FORM>
</p>

<% end %>

<% if current_user and current_user == @event.creator %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<% end %>