<p id="notice"><%= notice %></p>
<% if @event.published or @show_unpublished_event%>
<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Price:</b>
  <%= @event.price %>
</p>

<p>
  <b>Image url:</b>
  <%= @event.image_url %>
</p>

<p>
  <b>Seller:</b>
  <%= @event.seller %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Zip code:</b>
  <%= @event.zip_code %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>published:</b>
  <%= @event.published %>
</p>

<% else %>

There is an event here but you cannot see it without the proper url.

Would you like to create an event?

<% end %>

<% if current_user and current_user == @event.creator %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<% end %>