<p>Thank you for receiving the gift of <%= @gift.product.name %> </p>


<% if  @gift.product.description %> 

  <p>Thank you for receiving the gift: <%= @gift.product.description %> </p>

<% end %>

<% if @gift.cost %>

  <p> The cost of the gift you have recieved is $<%= @gift.cost /100 %> </p>

  <% if @gift.profit_donation_percent %> 
    <p>  <%= @gift.profit_donation_percent %>% of the amount you pay above the cost will be donated to a charity of your choice </p>      
  <% end %> 

<% end %>  

<% if @gift.price %>

<% end %>

Choose who benefits at http://www.karmagrove.com/purchases/<%=@gift.id%>/donations/new

  <% @charities.each do |charity| %>
    <br />
    <a href="http://www.karmagrove.com/donations/<%=charity.id%>/purchases/<%=@gift.id%>/update"> <button class="btn btn-large btn-block" type="button">
      <h3> <%= charity.legal_name %>
         <% if charity.city && charity.state %>
           <small> <%= charity.city %>, <%= charity.state %> </small>
         <% elsif charity.city %>
           <small> <%= charity.city %> </small>
         <% elsif charity.state %>
           <small> <%= charity.state %> </small>
         <% else %>
         <% end %>
      </h3>
      <br />
      <%= charity.deductibility_status_description %>

    </button>
    </a>
  <% end %>


<a href="http://www.karmagrove.com/auth/facebook/login?donation_id="> Connect your facebook to claim your account and review past purchases, participate in the marketplace, and help Karma Grow. </a>
